* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  position: relative;
  background: linear-gradient(to bottom, white 50%, #040e43 50%);
}

.top-msg {
  text-align: center;
  margin-bottom: 2rem;
}

.top-msg h2 {
  font-size: 2rem;
}

.from,
.to {
  width: 100%;
}

.from p,
.to p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.top-msg h4 {
  font-size: 1.1rem;
  color: #444;
  font-weight: 500;
}
form {
  font-size: 1.5rem;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1.2em;
  margin-top: 2rem;
  height: 9rem;
  background: white;
}

form select,
button,
input {
  border: none;
  outline: none;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown i {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 50%;
  padding: 10px;
  margin-top: 1.5rem;
}

.dropdown i:hover {
  cursor: pointer;
  background-color: rgba(241, 241, 241, 0.849);
}

.fa-arrow-right-arrow-left {
  cursor: pointer;
  transition: transform 0.3s ease, color 0.2s ease;
}

.fa-arrow-right-arrow-left:hover {
  transform: rotate(180deg);
  color: rgb(58, 58, 176);
}

.select-container img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.select-container {
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.msg {
  margin-top: 1.5rem;
  font-weight: bold;
}

.timer {
  font-size: 18px;
  margin-top: 5px;
  color: #040e43;
}
