*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    
}

.top-msg{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
}

.top-msg h4{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.30rem;
    color: rgb(0, 0, 0);
}

form{
    font-size: 1.5rem;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1.2em;
    margin-top: 2rem;
    height: 9rem;
  
}

form select, button, input{
    border: none;
    outline: none;
}

form input{
    padding: 0.5rem;
    font-size: 1rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown i{
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 10px;
    margin-top: 1.5rem;
}

.dropdown i:hover{
    cursor: pointer;
    background-color: rgba(241, 241, 241, 0.849);
}

.select-container img{
    width: 2rem;    
padding-left: 0.5rem;
    
}

.select-container{
    display: flex;
    border-radius: 0.2rem;
    border: 1px solid lightgray;
    
}

.msg{
    margin-top: 1.5rem;
}

.timer{
    font-size: 18px;
    margin-top: 5px;
}
